 *, *::before, *::after {
    box-sizing: border-box;
    font-family: Mulish, sans-serif;
    font-weight: 300;
 }

 ::-moz-selection { /* Code for Firefox */
    color: rgb(101, 156, 158);
    background: rgb(197, 218, 255);
  }
  
  ::selection {
    color: rgb(101, 156, 158);
    background: rgb(197, 218, 255);
  }

 body {
    padding: 0;
    margin: 0;
    background: linear-gradient(#14213d, #000000);
 }
 
#container {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

#container > button {
    background-color: #e5e5e5;
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid rgb(241, 252, 255);
    outline: none;
}

#container > button:hover {
    background-color: rgb(250, 241, 241);
}

.output {
    grid-column: 1 / -1;
    background-color: #fca311;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output > .current-operand {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.5rem;
    font-weight: 300;
}

.output > .previous-operand {
    color: #faf1f1;
    font-size: 2.5rem;
    font-weight: 500;
}